<div class="contact-container">
    <h2>Contact Information</h2>
    <div class="info-group">
      <span class="info-label">Name:</span>
      <span class="info-value">{{ name }}</span>
    </div>
    <div class="info-group">
      <span class="info-label">Email:</span>
      <span class="info-value"><a href="mailto:raggowrinath@gmail.com">{{ email }}</a></span>
    </div>
    <div class="info-group">
      <span class="info-label">Phone:</span>
      <span class="info-value"><a href="tel:+16475473738">{{ phone }}</a></span>
    </div>
    <div class="info-group">
      <span class="info-label">Location:</span>
      <span class="info-value">{{ location }}</span>
    </div>

    <br>
    
    <button (click)="goToHome()">Home</button>
  </div>